
node_modules
dist
.vscode/*
# Environment variables
.env
# IDE and editor files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
# Logs and debugging files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

